<header class="bg-gray-800 text-white">
    <div class="container mx-auto flex items-center justify-between px-4 py-3">
        <div class="flex items-center">
            <img src="https://i.pinimg.com/originals/2a/df/74/2adf7403c9f7b54c0342e7ab94b586fa.png" alt="Logo de la tienda de carros" class="h-8 w-8 mr-2">
            <a href="/" class="text-lg font-bold">Tienda de Carros</a>
        </div>
        <nav>
            <ul class="flex space-x-4">
                <li>
                    <a href="/productos" class="hover:underline">Home</a>
                </li>
                <li>
                    <a href="/registro" class="hover:underline">Registrar Vehiculo</a>
                </li>
                <li>
                    <a href="/" class="hover:underline">Salir</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
